body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-size: 12px;
  width: 100%;
  margin-top: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: auto;
  margin-left: 8px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
